body {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 12px;
  color: var(--font-subtext-main);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}



.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.blank {
  display: none;
  /*STYL DO USUWANIA NIEPOTRZEBNYCH RZECZY Z POLA WIDZENIA, POLECAM ZAMIAST DOPISYWANIA DISPLAY:NONE DO SWOICH STYLI*/
}
