.container {
  width: 100%;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    padding-left: 112px;
    padding-right: 112px;
  }
}
