/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu


@import './utils/variables';
@import './base/common';
@import './base/container';
@import './layout/header';
@import './layout/about';
@import './layout/advantages';
@import './layout/customers';
@import './layout/contacts';
@import './layout/backdrop';
@import './layout/backdrop-location';
@import './layout/modal';
@import './layout/modal-location';
@import './layout/footer';
@import './layout/gallery';
@import './utils/products';

