.products__natural,
.products__tittle,
.item-name {
  text-transform: uppercase;
  text-decoration: none;
}

.products__all {
  list-style: none;
}
.products {
  &__natural {
    font-family: var(--header-font);
    color: var(--font-header);
  }
  &__tittle {
    font-family: var(--header-font);
    color: var(--font-color-secondary);
  }
}
.item {
  &-name {
    font-family: var(--header-font);
    letter-spacing: 0.04em;
    color: var(--font-color-main);
  }
  &-description {
    text-align: center;
    letter-spacing: 0.04em;
    font-family: var(--body-font);
    color: var(--font-color-main);
  }
}
// -----------------mobil----------------------
@media screen and (min-width: 320px) and (max-width: 767px) {
  .products {
    padding-top: 121px;
    padding-bottom: 98px;

    &__name {
      display: block;
      text-align: center;
      margin: 0 auto;

      //   max-width: 174px;
      //   height: auto;
    }

    &__natural {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.666;
      text-align: center;
      padding-bottom: 15px;
    }
    &__tittle {
      font-weight: 400;
      font-size: 34px;
      line-height: 1.147;
      letter-spacing: 0.04em;
      padding-bottom: 144px;
    }
    &__item {
      background: var(--header-background-color);
      border-radius: 24px;
      width: 100%;
      height: 485px;
    }
    &__item:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  .item {
    &-name {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
    }
    &-description {
      font-weight: 700;
      font-size: 14px;
      line-height: 152%;
      text-align: center;
      padding-bottom: 30px;
      padding-left: 41px;
      padding-right: 39px;
      width: 100%;
      padding-top: 20px;
    }
  }
  .products__all {
    
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  // .products__item:not(:first-child) {
  //   flex-basis: calc(100% / 3);
  // }

  .button-arrow {
    background-color: var(--header-background-color);
    border: none;
    // padding: 0;
    // padding-bottom: 41px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
  .arrow-color2 {
    background-color: var(--product2-color);
  }
  .arrow-color3 {
    background-color: var(--product3-color);
  }

  .products__item::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 249px;
    height: 252px;

    margin-bottom: 30px;
  }
  .image-1::before {
    background-image: url('/images/icecream-mobile/product1.png');
    transform: translateY(-113px);
  }

  .image-2::before {
    background-image: url('/images/icecream-mobile/product2.png');
    transform: translateY(-113px);
  }
  .image-3::before {
    background-image: url('/images/icecream-mobile/product3.png');
    transform: translateY(-113px);
  }

  .item-description::before {
    content: '...';
    font-size: 26px;
    display: block;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
  }

  .translateY {
    transform: translateY(-113px);
  }
  // .arrow-height {
  //   height: 487px;
  // }
}

// ----------tablet------------

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;

    &__name {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    &__natural {
      font-weight: 400;
      font-size: 26px;
      line-height: 1.153;
      text-align: center;
      padding-bottom: 15px;
    }
    &__tittle {
      font-weight: 400;
      font-size: 48px;
      line-height: 1.145;
      letter-spacing: 0.04em;
      padding-bottom: 143px;
    }
    &__item {
      background: var(--header-background-color);
      border-radius: 24px;
      width: 100%;
      height: 485px;
    }
    &__item:not(:last-child) {
      margin-right: 20px;
    }
  }
  .item {
    &-name {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
    }
    &-description {
      font-weight: 700;
      font-size: 14px;
      line-height: 152%;
      text-align: center;
      padding-bottom: 40px;
      padding-left: 11px;
      padding-right: 11px;
      width: 100%;
      padding-top: 20px;
    }
  }
  .products__all {
    justify-content: center;
    display: flex;
  }

  //   .products__item:not(:first-child) {
  //     flex-basis: calc(100% / 3);
  //   }

  .button-arrow {
    background-color: var(--header-background-color);
    border: none;

    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
  .arrow-color2 {
    background-color: var(--product2-color);
  }
  .arrow-color3 {
    background-color: var(--product3-color);
  }

  .products__item::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 226px;
    margin-bottom: 30px;
  }
  .image-1::before {
    background-image: url('/images/icecream-tab/product1-tab.png');
    transform: translateY(-104px);
  }

  .image-2::before {
    background-image: url('/images/icecream-tab/product2-tab.png');
    transform: translateY(-104px);
  }
  .image-3::before {
    background-image: url('/images/icecream-tab/product3-tab.png');
    transform: translateY(-104px);
  }

  .item-description::before {
   content: '...';
    font-size: 26px;
    display: block;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
  }
  .translateY {
    transform: translateY(-104px);
  }

  .name-display {
    display: none;
  }
}

// -----------PC------------

@media screen and (min-width: 1280px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;

    &__name {
      display: block;
      text-align: center;
      margin: 0 auto;
    }

    &__natural {
      font-weight: 400;
      font-size: 30px;
      line-height: 1.145;
      text-align: center;
      padding-bottom: 15px;
    }
    &__tittle {
      font-weight: 400;
      font-size: 58px;
      line-height: 1.137;
      letter-spacing: 0.06em;
      padding-bottom: 259px;
    }
    &__item {
      background: var(--header-background-color);
      border-radius: 24px;
      min-width: 335px;
      height: 525px;
    }
    &__item:not(:last-child) {
      margin-right: 27px;
    }
  }
  .item {
    &-name {
      font-weight: 400;
      font-size: 30px;
      line-height: 1.145;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
    }
    &-description {
      font-weight: 700;
      font-size: 16px;
      line-height: 176%;
      text-align: center;
      padding-bottom: 62px;
      padding-left: 40px;
      padding-right: 40px;
      width: 100%;
      letter-spacing: 0.04em;
      padding-top: 20px;
    }
  }
  .products__all {
    justify-content: center;
    display: flex;
    flex-basis: 100%;
  }

  //   .products__item:not(:first-child) {
  //     flex-basis: calc(100% / 3);
  //   }

  .button-arrow {
    background-color: var(--header-background-color);
    border: none;
    padding: 0;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
  .arrow-color2 {
    background-color: var(--product2-color);
  }
  .arrow-color3 {
    background-color: var(--product3-color);
  }
  .name-display {
    display: none;
  }

  .products__item::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 335px;
    height: 335px;
    margin-bottom: 30px;
  }
  .image-1::before {
    background-image: url('/images/icecream-desktop/product1-desktop.png');
    transform: translateY(-210px);
  }

  .image-2::before {
    background-image: url('/images/icecream-desktop/product2-desktop.png');
    transform: translateY(-210px);
  }
  .image-3::before {
    background-image: url('/images/icecream-desktop/product3-desktop.png');
    transform: translateY(-210px);
  }

  .item-description::before {
    content: '...';
    font-size: 26px;
    display: block;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
    line-height: 1.145;
    letter-spacing: 0.04em;
    
  }

  .translateY {
    transform: translateY(-210px);
  }
}
