:root {
  /*COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS* *COLORS*/
  --font-color-main: #ffffff;
  --font-color-secondary: #d41443;
  --font-header: #ffa5ba;
  --font-subtext-main: #000000;
  --font-subtext-secondary: #907e82;

  --header-background-color: #ffb8ca;
  --background-color: #fff5f6;
  --background-color-secondary: #ffffff;
  --header-background-menu: #e17992;

  --product2-color: #f0d1a5;
  --product3-color: #c2e297;

  --customer-quote-color: #e1e1e1;
  --customer-background-color: #fafafa;
  --customer-dot-color: #d9d9d9;

  --btn-color: #d41342;
  --btn-color-secondary: #ffffff;
  --btn-media: #ffa5ba;
  --btn-media-hover: #d41443;

  --menu-pseudo-color: #e18298;
  --btn-hover: #ecebeb;
  --btn-hover-second: #C7133E;

  /* FONTS * * FONTS * * FONTS * * FONTS * * FONTS * * FONTS *  * FONTS * * FONTS * * FONTS * * FONTS * * FONTS * * FONTS */
  --header-font: 'Titan One';
  --body-font: 'DM Sans';
}
