<footer>
    <div class="background">
    <div class="footer container">
    <div class="footer__descritpion">
      <p class="footer__description-first">HOMEMADE ICE CREAM MADE</p>
      <p class="footer__description-two">WITH PASSION</p>
    </div>
    <div class="footer__links">
      <ul class="footer__list list">
        <li class="footer__list-item">
          <a class="footer__list-link">
          <svg class="footer__list-svg" width="32px" height="32px">
            <use href="./images/icons.svg#icon-github"></use>
          </svg>
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link">
          <svg class="footer__list-svg" width="32px" height="32px">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link">
          <svg class="footer__list-svg" width="32px" height="32px">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
          </a>
        </li>
    <div>
        <a href=""></a>
      </ul>
    </div>
    </div>
    </div>
    </div>
    </footer>