<footer>
    <div class="background">
    <div class="container">
    <div class="footer">
    <div class="footer-two">
    <div class="footer__description">
      <p class="footer__description-first">HOMEMADE ICE CREAM MADE</p>
      <p class="footer__description-two">WITH PASSION</p>
    </div>
    <div class="footer__link">
      <ul class="footer__list list">
        <li class="footer__list-item">
          <a class="footer__list-link" href="https://github.com/" target="_blank">
          <svg class="footer__list-svg" width="32px" height="32px">
            <use href="./images/icons.svg#icon-github"></use>
          </svg>
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="https://telegram.org/" target="_blank">
          <svg class="footer__list-svg" width="32px" height="32px">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="https://www.facebook.com/" target="_blank">
          <svg class="footer__list-svg" width="32px" height="32px">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
          </a>
        </li>
        </ul>
        <adress class="footer__adress">
        <p class="footer__adress-description">Feel free to contact &nbsp;
        <a class="footer__adress-link link" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </p>
        </adress>
        </div>
        </div>
        </div>
    <p class="laws">© 2019 - IceCream. All Rights Reserved. </p>
    </div>
    </div>
    </footer>