<div class="hero" id="home">
  <div class="container">
    <div class="hero__header">
      <div class="logo">
        <picture>
          <source
            srcset="./images/icecream-mobile/logo.png 1x, ./images/icecream-mobile/logo@2x.png 2x"
            media="(min-width: 320px)"
          />

          <img class="logo__item" src="./images/icecream-mobile/logo.png" alt="logo" />
        </picture>
      </div>

      <div class="hero__menu-desktop">
        <ul class="menu-header">
          <li class="menu-header__item">Home</li>
          <li class="menu-header__item">About us</li>
          <li class="menu-header__item">Hot it's made?</li>
          <li class="menu-header__item">Our products</li>
          <li class="menu-header__item">Contact</li>
        </ul>
      </div>

      <svg class="icon-menu" width="20" height="12" data-menu-open>
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>

      <button type="button" class="header-buy-btn">
        Buy now
        <svg class="buy-icon" width="5.26" height="8">
          <use href="./images/arrow.svg#icon-arrow_menu"></use>
        </svg>
      </button>
    </div>

    <div class="hero__passion">
      <div class="title-wrapper">
        <div class="title">
          <p class="title__white">
            ice cream<br />
            made with
          </p>

          <p class="title__pink">passion</p>
        </div>

        <div class="hero__buttons">
          <button type="submit" class="hero-btn hero-btn__products">Products</button>

          <button type="submit" class="hero-btn hero-btn__how">How it's made?</button>
        </div>
      </div>

      <div class="hero__numbers">
        <div class="top-number">
          <p class="hero-number">16</p>

          <p class="hero-text">cafes</p>
        </div>

        <div class="bottom-number">
          <p class="hero-number">23</p>

          <p class="hero-text">food trucks</p>
        </div>
      </div>

      <div class="passion-bottom-items">
        <picture>
          <source
            srcset="./images/icecream-tab/header-milk-tab@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
             ./images/icecream-desktop/header-milk-desktop.png 1,
              ./images/icecream-desktop/header-milk-desktop@2x.png 2x
            "
            media="(min-width:1280px)"
          />

          <img class="hero-milk" src="./images/icecream-tab/header-milk-tab.png" alt="milk" />
        </picture>

        <div class="lorem-arrow">
          <div class="hero__lorem">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            <picture>
              <source
                srcset="
                  ./images/icecream-mobile/arrow-right.png    1x,
                  ./images/icecream-mobile/arrow-right@2x.png 2x
                "
                media="(min-width: 768px)"
              />

              <img
                class="hero-arrow"
                src="./images/icecream-mobile/arrow-right.png"
                alt="arrow right"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="hero-elipse"></div>

      <!-- <picture>
          <source
            srcset="
              ./images/icecream-tab/elipse-tab.png    1x,
              ./images/icecream-tab/elipse-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/icecream-desktop/elipse-desktop.png    1x,
              ./images/icecream-desktop/elipse-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />

          <img class="hero-elipse" src="./images/icecream-tab/elipse-tab.png" alt="elipse" />
        </picture> -->

      <picture>
        <source
          srcset="./images/icecream-tab/header-ice-tab@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/icecream-desktop/header-ice-desktop.png    1x,
            ./images/icecream-desktop/header-ice-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source srcset="./images/icecream-mobile/header-ice@2x.png 2x" media="(min-width: 320px)" />

        <img class="hero-ice" src="./images/icecream-mobile/header-ice.png" alt="ice" />
      </picture>

      <picture>
        <source
          srcset="./images/icecream-tab/header-tasty-tab@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/icecream-desktop/header-tasty-desktop.png    1x,
            ./images/icecream-desktop/header-tasty-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />

        <img class="hero-tasty" src="./images/icecream-tab/header-tasty-tab.png" alt="tasty" />
      </picture>
    </div>
  </div>
</div>

<div class="backdrop-menu is-hidden" data-menu>
  <div class="modal-menu">
    <button type="button" class="modal-menu__close-btn" data-menu-close>
      <svg class="close-btn__icon" width="13.48" height="14">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <button type="button" class="modal-menu__buy">
      Buy now
      <svg class="buy-icon" width="5.26" height="8">
        <use href="./images/arrow.svg#icon-arrow_menu"></use>
      </svg>
    </button>

    <ul class="list menu-list">
      <li class="menu-list__item">
        <a class="menu-list__link" href="#home">Home</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link" href="#about-us">About us</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link" href="#how-its-made">How it's made?</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__link" href="#our-products">Our products</a>
      </li>
      <li class="menu-list__item last-item">
        <a class="menu-list__link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</div>

<script src="./js/menu-modal.js"></script>
