<section class="products">
  <div class="container">
    <div class="products__name">
      <a class="products__natural" href="#">100% natural</a>
      <h1 class="products__tittle">products</h1>
    </div>

    <ul class="products__all">
      <li class="products__item image-1">
        <div class="translateY">
          <h2 class="item-name">ice cream</h2>

          <p class="item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            <span class="name-display"> dolore magna aliqua facilisis.</span>
          </p>
          <button class="button-arrow" type="button">
            <picture>
              <source
                srcset="
                  ./images/icecream-mobile/arrow-right.png    1x,
                  ./images/icecream-mobile/arrow-right@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img src="./images/icecream-mobile/arrow-right.png" alt="arrow-right" />
            </picture>
          </button>
        </div>
      </li>
      <li class="products__item image-2 arrow-color2">
        <div class="translateY">
          <h2 class="item-name">ice coffe</h2>
          <p class="item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et <span class="name-display">dolore magna aliqua facilisis.</span>
          </p>
          <button class="button-arrow arrow-color2" type="button">
            <picture>
              <source
                srcset="
                  ./images/icecream-mobile/arrow-right.png    1x,
                  ./images/icecream-mobile/arrow-right@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img src="./images/icecream-mobile/arrow-right.png" alt="arrow-right" />
            </picture>
          </button>
        </div>
      </li>
      <li class="products__item image-3 arrow-color3">
        <div class="translateY">
          <h2 class="item-name">milkshake</h2>
          <p class="item-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            <span class="name-display"> dolore magna aliqua facilisis.</span>
          </p>
          <button class="button-arrow arrow-color3" type="button">
            <picture>
              <source
                srcset="
                  ./images/icecream-mobile/arrow-right.png    1x,
                  ./images/icecream-mobile/arrow-right@2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img src="./images/icecream-mobile/arrow-right.png" alt="arrow-right" />
            </picture>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
