.advantages {
    background-color: #FFF5F6;
    padding-bottom: 97px;
    padding-top: 39px;
}

.advantages__item::before {
    content: "";
    display: block;
    width: 33px;
    height: 50px;
    background-image: url("../images/icecream-mobile/icon1.png");
}

.advantages__item:nth-child(2)::before {
    width: 50px;
    background-image: url("../images/icecream-mobile/icon2.png");
}

.advantages__item:last-child::before {
    width: 44px;
    background-image: url("../images/icecream-mobile/icon3.png");
}

.advantages__number {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: var(--header-font);
    font-size: 36px;
    line-height: 1.138;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--font-color-secondary);
}

.advantages__description {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.666;
    letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
    .advantages__item {
        max-width: 230px;
    }
}

.advantages__item:not(:last-child) {
    margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
    .advantages {
        padding-bottom: 140px;
        padding-top: 66px;
    }

    .advantages__list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -60px;
    }

    .advantages__item {
        flex-basis: calc(93% / 3 - 60px);
        margin-right: 60px;
        margin-bottom: 0;
    }

    .advantages__number {
        margin-top: 13px;
        margin-bottom: 13px;
    }
}

@media screen and (min-width: 1200px) {
    .advantages__list {
        margin-right: -30px;
    }

    .advantages__item {
        flex-basis: calc(100% / 3 - 30px);
        margin-right: 30px;
        margin-bottom: 0;
    }
}