@media screen and (min-width: 320px) and (max-width: 767px) {
  .customer-section{
    padding-top: 154px;
  }
  
  .opinion {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.52;
    text-align: center;
    z-index: 2;
    color: var(--font-subtext-main);
    --end-color: transparent;
    background-image: repeating-linear-gradient(
      to top,
      var(--customer-quote-color),
      var(--customer-quote-color) 1px,
      var(--end-color) 1px,
      var(--end-color) 30.24px
    );
    z-index:2;
    position:relative;
    bottom:25px;
    &__card {
      width: 100%;
      height: auto;
      background-color: var(--customer-background-color);
      padding: 43px 66px 26px 57px;
      display: block;
      margin:0;
      &::before{
        content: "";
        display: block;
        width: 54px;
        height: 40px;
        background-image: url("../images/icecream-mobile/quote.png");
        z-index:1;
      }
    }
  }

  .author {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: var(--font-subtext-main);
    margin-top:52px;
    &::before {
      content: "";
      display: block;
      width: 32px;
      height: 4px;
      background-image: url("../images/icecream-mobile/ellipse.svg");
      position: relative;
      bottom:18px;
      margin-left:auto;
      margin-right:auto;
    }
  }

  .mySlides {
    display: block;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin-bottom:29px;
  }

  /* The dots/bullets/indicators */
  .dots{
    text-align: center;
    margin-top:30px;
  }
  
  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 250ms ease;
    margin-bottom: 172px;
  }

  .dot:not(:last-child) {
    margin-right: 18px;
  }

  .active {
    background-color: transparent;
    background-image: url("../images/icecream-mobile/home.svg");
    background-size: contain;
    width:12.4px;
    height:12px;
    border-radius: 0%;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .customer-section{
    padding-top: 278px;
    padding-left:74px;
    padding-right:74px;
  }
  
  .opinion {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.16;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--font-subtext-main);
    --end-color: transparent;
    background-image: repeating-linear-gradient(
      to top,
      var(--customer-quote-color),
      var(--customer-quote-color) 1px,
      var(--end-color) 1px,
      var(--end-color) 30.24px
    );
    z-index:2;
    position:relative;
    bottom:20px;
    margin: 0;
    padding-left:40px;
    &__card {
      width: 100%;
      height: auto;
      background-color: var(--customer-background-color);
      padding: 30px 80px 34px 40px;
      margin-left:auto;
      margin-right:auto;
      z-index: 1;
      &::before{
        content:"";
        display: block;
        background-image: url("../images/icecream-mobile/quote.png");
        width: 54px;
        height: 40px;
      }
    }
  }

  .author {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: var(--font-subtext-main);
    margin-bottom: 35px;
    margin-top:70px;
    &::before {
      content: "";
      display: block;
      width: 32px;
      height: 4px;
      background-image: url("../images/icecream-mobile/ellipse.svg");
      position: relative;
      bottom:14px;
      margin-left:auto;
      margin-right:auto;
    }
  }

  .mySlides {
    display: block;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin-bottom:19px;
  }

  /* The dots/bullets/indicators */
  .dots{
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 250ms ease;
    margin-bottom: 172px;
  }

  .dot:not(:last-child) {
    margin-right: 18px;
  }

  .active {
    background-color: transparent;
    background-image: url("../images/icecream-mobile/home.svg");
    background-size: contain;
    width:12.4px;
    height:12px;
    border-radius: 0%;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 1280px){
  .customer-section{
    padding-top: 281px;
    padding-left:177px;
    padding-right:177px;
  }

  .opinion {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.16;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--font-subtext-main);
    --end-color: transparent;
    background-image: repeating-linear-gradient(
      to top,
      var(--customer-quote-color),
      var(--customer-quote-color) 1px,
      var(--end-color) 1px,
      var(--end-color) 30.24px
    );
    z-index:2;
    position:relative;
    bottom:22px;
    margin: 0;
    padding-left:37px;
    &__card {
      width: 100%;
      height: 138px;
      background-color: var(--customer-background-color);
      padding: 32px 80px 34px 50px;
      margin-left:auto;
      margin-right:auto;
      &::before{
        content:"";
        display: block;
        background-image: url("../images/icecream-mobile/quote.png");
        width: 54px;
        height: 40px;
      }
    }
  }

  .author {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: var(--font-subtext-main);
    margin-bottom: 35px;
    margin-top:34px;
      &::before {
        content: "";
        display: block;
        width: 32px;
        height: 4px;
        background-image: url("../images/icecream-mobile/ellipse.svg");
        position: relative;
        bottom:15px;
        margin-left:auto;
        margin-right:auto;
      }
  }

  .mySlides {
    display: block;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin-bottom:15px;
  }

  /* The dots/bullets/indicators */
  .dots{
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 250ms ease;
    margin-bottom: 234px;
  }

  .dot:not(:last-child) {
    margin-right: 18px;
  }

  .active {
    background-color: transparent;
    background-image: url("../images/icecream-mobile/home.svg");
    background-size: contain;
    width:12.4px;
    height:12px;
    border-radius: 0%;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}