.hero {
  background-color: var(--header-background-color);
  background-image: url('../images/icecream-mobile/header-ice.png'),
    url('../images/icecream-mobile/elipse.png');
  background-repeat: no-repeat;
  background-position: right 32px bottom 0, right -62px bottom 75px;

  &__menu-desktop {
    display: none;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
  }

  &__numbers {
    display: none;
    position: absolute;
    right: 0;
    top: 12px;
    flex-direction: column;
    width: 53px;
    text-align: right;
  }

  &__passion {
    position: relative;
  }

  &__circle {
    position: absolute;
    background-color: var(--font-header);
    width: 344px;
    height: 344px;
    border-radius: 50%;
    bottom: 75px;
    margin-left: 16px;
  }

  &__buttons {
    padding-top: 19px;
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.3025;
    padding-bottom: 160px;
  }

  &__lorem {
    max-width: 114px;
    font-weight: 400;
    color: var(--font-color-main);
    font-size: 8px;
    line-height: 1.5;
    padding-bottom: 59px;
  }
}

.hero-number {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.1428;
  color: var(--font-color-secondary);
  font-family: var(--header-font);
  letter-spacing: 0.04em;
  z-index: 2;
}

.top-number {
  position: relative;
  padding-bottom: 14px;
  background-image: url('../images/icecream-tab/elipse-white-tab.png');
  background-repeat: no-repeat;
  background-position: right 0 bottom 41px;
  padding-right: 10px;
  padding-top: 2px;
}

.bottom-number {
  position: relative;
  padding-bottom: 14px;
  background-image: url('../images/icecream-tab/elipse-white-tab.png');
  background-repeat: no-repeat;
  background-position: right 2px bottom 41px;
  padding-right: 10px;
  padding-top: 2px;
}

.hero-white-elipse {
  position: absolute;
  top: 2px;
  right: -10px;
}

.hero-text {
  font-weight: 400;
  font-size: 8px;
  font-family: var(--body-font);
  line-height: 1.25;
  color: var(--font-color-main);
}

.hero-arrow {
  display: none;
  width: 18px;
  height: 18px;
}

.lorem-arrow {
  display: none;
}

.hero-tasty {
  display: none;
  position: absolute;
}

.hero-btn {
  border-radius: 20px;
  font-size: 8px;
  border: none;

  &__products {
    background-color: var(--btn-color);
    color: var(--font-color-main);
    width: 62.4px;
    height: 24px;

    &:focus,
    &:hover {
      background-color: var(--btn-hover-second);
    }
  }

  &__how {
    background-color: var(--btn-color-secondary);
    color: var(--font-color-secondary);
    width: 82.8px;
    height: 24px;
    margin-left: 8px;

    &:focus,
    &:hover {
      background-color: var(--btn-hover);
    }
  }
}

.icon-menu {
  width: 20px;
  height: 12px;
}

.title {
  font-family: var(--header-font);
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 137px;
  letter-spacing: 0.04em;
  z-index: 2;

  &__white {
    color: var(--font-color-main);
    font-size: 26px;
    line-height: 1.145;
  }

  &__pink {
    color: var(--font-color-secondary);
    font-size: 48px;
    line-height: 0.955;
  }
}

.header-ice {
  padding-top: 9px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.modal-menu {
  position: relative;
  width: 250px;
  height: 100%;
  margin-left: auto;
  background-color: var(--header-background-menu);
  z-index: 5;

  &__close-btn {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 23.26px;
    right: 28px;
  }

  &__buy {
    font-family: var(--body-font);
    color: var(--font-color-secondary);
    font-weight: 700;
    line-height: 1.3;
    font-size: 16px;
    width: 209px;
    height: 44px;
    margin-left: 20px;
    margin-top: 60px;
    border: none;
    border-radius: 22px;
    background-color: var(--background-color-secondary);

    &:hover,
    &:focus {
      background-color: var(--btn-hover);
    }
  }
}

.buy-icon {
  margin-left: 16px;
}

.menu-list {
  font-family: var(--body-font);
  font-size: 14px;
  line-height: 1.3;
  color: var(--font-color-main);
  margin-top: 19px;
  margin-left: 21px;

  &__link {
    text-decoration: none;
    font-family: var(--body-font);
    font-size: 14px;
    line-height: 1.3;
    color: var(--font-color-main);

    &:hover,
    &:focus {
      color: var(--font-color-secondary);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__item {
    height: 42px;
    padding: 12px 0;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 250px;
      background-color: var(--menu-pseudo-color);
      height: 1px;
      left: -21px;
      top: 0;
    }
  }
}

.last-item::before {
  position: absolute;
  content: '';
  width: 250px;
  background-color: var(--menu-pseudo-color);
  height: 1px;
  left: -21px;
  bottom: 0px;
}

.header-buy {
  display: none;
}

.header-buy-btn {
  font-family: var(--body-font);
  color: var(--font-color-secondary);
  font-weight: 700;
  line-height: 1.3;
  font-size: 16px;
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 22px;
  background-color: var(--background-color-secondary);

  display: none;

  &:hover,
  &:focus {
    background-color: var(--btn-hover);
  }
}

.passion-bottom-items {
  display: none;
}

.hero-milk {
  position: absolute;
  bottom: 50px;
}

.hero-elipse {
  position: absolute;
  bottom: 46px;
  right: 103px;
}

.hero-ice {
  position: absolute;
  bottom: 0;
  right: 213px;
}

.menu-header {
  display: flex;
  list-style: none;
  flex-direction: row;
  font-weight: 700;
  color: var(--font-color-main);
  font-size: 16px;
  line-height: 1.3125;

  &__item:hover,
  &__item:focus {
    color: var(--font-color-secondary);
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    max-height: 399px;
    background-color: var(--header-background-color);
    background-image: none;

    &__numbers {
      display: flex;
    }

    &__header {
      padding-top: 37px;
      position: relative;
    }

    &__buttons {
      padding-top: 20px;
      padding-bottom: 66px;
    }

    &__passion {
      max-height: 312px;
      position: relative;
    }

    &__lorem {
      display: block;
      padding-bottom: 7px;
    }
  }

  .hero-milk {
    position: relative;
  }

  .hero-tasty {
    display: flex;
    bottom: 0;
    right: 0;
  }

  .hero-arrow {
    display: block;
  }

  .hero-elipse {
    display: block;
  }

  .icon-menu {
    position: absolute;
    right: 196px;
    z-index: 1;
  }

  .header-buy {
    display: flex;
  }

  .header-buy-btn {
    display: inline-block;
    z-index: 1;
  }

  .title {
    padding-top: 15px;

    &__white {
      font-size: 22px;
    }

    &__pink {
      font-size: 34px;
    }
  }

  .lorem-arrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .passion-bottom-items {
    display: flex;
  }

  .modal-menu__buy {
    width: 186px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    min-width: 1280px;
    background-color: var(--header-background-color);
    background-image: none;
    min-height: 665px;

    &__menu-desktop {
      display: block;
      z-index: 1;
    }

    &__passion {
      min-height: 583px;
    }

    &__numbers {
      top: 4px;
      right: 18px;
      padding: 78px;
    }
  }

  .hero-elipse {
    width: 538px;
    height: 538px;
    bottom: 75px;
    right: 152px;
  }

  .logo {
    margin-right: 110px;

    &__item {
      position: absolute;
      left: -69px;
      bottom: 0;
    }
  }

  .icon-menu {
    display: none;
  }
  .title {
    padding-top: 84px;
    &__white {
      font-size: 38px;
    }
    &__pink {
      font-size: 58px;
    }
  }
  .hero__buttons {
    padding-top: 25px;
    padding-bottom: 56px;
  }
  .hero-btn {
    font-size: 14px;
  }
  .hero-btn__products {
    width: 104px;
    height: 40px;
  }
  .hero-btn__how {
    width: 138px;
    height: 40px;
  }

  .hero-ice {
    bottom: 0;
  }

  .hero-milk {
    margin-bottom: 45px;
    margin-top: 56px;
  }
  .hero__lorem {
    font-size: 14px;
    max-width: 200px;
  }
  .hero-number {
    font-size: 46px;
  }
  .hero-text {
    font-size: 14px;
    line-height: 1.285;
  }

  .top-number {
    position: relative;
    padding-bottom: 14px;
    background-image: url('../images/icecream-tab/elipse-white-tab.png');
    background-repeat: no-repeat;
    background-position: right -8px bottom 41px;
    padding-right: 38px;
    padding-top: 2px;
  }

  .bottom-number {
    position: relative;
    background-image: url('../images/icecream-tab/elipse-white-tab.png');
    background-repeat: no-repeat;
    background-position: right -18px bottom 41px;
  }
}
