.backdrop__about {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.is-hidden {
    opacity: 0;
    visibility: visible;
    pointer-events: none;
}

.about__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 11px;
    background-color: var(--background-color);
    color:var(--font-color-secondary);

    &:hover,
    &:focus {
        background-color: #ecebeb;
    }
}

.modal__about {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% - 20px);
    max-width: 450px;
    max-height: 450px;
    padding: 20px;
    overflow: scroll;
    background-color: var(--btn-color-secondary);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    ;
    

    .is-hidden & {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

.modal__about {
    .about__description {
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1280px){
    .modal__about{
        max-width: 900px;
        overflow: hidden;
    }

.modal__about {
    .about__description {
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
}